*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#667eea,#764ba2);

    opacity: 1;
    transition: opacity 0.5s ease;
}

body{
    opacity:0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn{
    to{
        opacity:1;
    }
}


.card{
    width:350px;
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
    text-align:center;
    color:white;
}

.card h2{
    margin-bottom:30px;
}

.inputBox{
    position:relative;
    margin-bottom:30px;
}

.inputBox input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
    background:rgba(255,255,255,0.2);
    color:white;
    font-size:16px;
}

.inputBox label{
    position:absolute;
    left:12px;
    top:12px;
    color:#ddd;
    pointer-events:none;
    transition:0.3s;
}

.inputBox input:focus + label,
.inputBox input:valid + label{
    top:-10px;
    left:8px;
    font-size:12px;
    color:#fff;
}

.btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    background:white;
    color:#764ba2;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
    background:#f1f1f1;
}