body{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
    background-color: rgb(141, 80, 199);
}



.container{
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.ota{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 1px 5px 30px 10px rgb(92, 144, 180);
    border: none;
background: linear-gradient(to top , rgb(24, 2, 18),rgb(106, 13, 146));
transition: 0.5s;
}


.ota:hover{
    box-shadow: 1px 5px 50px 5px white;
}

.uzb{
  display: flex;
  justify-content: space-between;
 width: 400px;
 border: none;
 
    
}

.u{
    background-color: green;
    color: white;
   transition: 0.9s;
}
.u:hover{
    text-decoration: underline;
    color: dodgerblue;
    cursor: grab;
   border-radius: 10px;
}

.z{
    background-color: red;
    color: white;
    transition: 0.9s;
}

.z:hover{
    text-decoration: underline;
   
    color: dodgerblue;
    cursor: grab;
   border-radius: 10px;
}

.b{
    background-color: blue;
    color: white;
    transition: 0.9s;
}

.b:hover{
    text-decoration: underline;
   
    color: dodgerblue;
    cursor: grab;
   border-radius: 10px;
}

body{
   
    transition: backraund-color 0.9s;
}


button{
     padding: 10px 20px;
            margin: 5px;
            font-size: 16px;
            cursor: pointer;
            
            border: none;
            border-radius: 20px;

            
}